        /* .field {
            background-image: url('/images/stadium_background.png');
            background-size: cover;
            display: grid;
            grid-template-columns: repeat(12, 1fr); 
            grid-template-rows: repeat(10, 1fr);    
            width: 100%;
            height: 800px; 
        }

        .player-card {
            background-image: url('/images/cart-1.png');
            background-size: cover;
            background-position: center;
            width: 120px; 
            height: 170px; 
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: bold;
            text-align: center;
        }

        #GK { grid-column: 6; grid-row: 10; }
        #LB { grid-column: 2; grid-row: 7; }
        #LDC { grid-column: 4; grid-row: 7; }
        #RDC{ grid-column: 8; grid-row: 7; }
        #RB{ grid-column: 10; grid-row: 7; }
        #LMDC{ grid-column: 3; grid-row: 5; }
        #MDC { grid-column: 6; grid-row: 5; }
        #RMDC { grid-column: 9; grid-row: 5; }
        #LW { grid-column: 3; grid-row: 3; }
        #ST { grid-column: 6; grid-row: 3; }
        #RW { grid-column: 9; grid-row: 3; }





        /* .player-card {
          border-radius: 8px;
          padding: 20px;
          color: white;
        }
        .player-card-top {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
        }
        .player-card-bottom {
          margin-top: 10px;
        }
        .player-picture img {
          max-width: 100px;
          border-radius: 50%;
        }
        .player-stats div {
          font-size: 1rem;
        } */ */



        